<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <h2 class="text-center">My profile</h2>

      <h4 class="text-center">start typing to make changes</h4>
        <%= form_for @user,  html: { multipart: true } do |f| %>
        <div class="form-group">
          First name: <%= current_user.first_name %>
          <%= f.text_field :first_name, placeholder: "update your first name", class: "form-control" %>
        </div>
        <div class="form-group">
          Last name:  <%= current_user.last_name %>
          <%= f.text_field :last_name, placeholder: "update your last name", class: "form-control" %>
        </div>
        <div class="form-group">
          Email:  <%= current_user.email %>
          <%= f.text_field :email, placeholder: "update your email", class: "form-control" %>
            <div class="form-group update">
             <div class="actions form-group"><%= f.submit "update now", class: "btn btn-default form-control"%></div>
            </div>
          <% end %>
        </div>
  </div>
</div>
