<h2>here is your account</h2>

<p>
  <% if current_user %>
    Welcome, <%= current_user.first_name %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
  <% else %>
    <%= link_to 'Log In', login_path %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Sign Up', new_user_path %>
  <% end %>
  </p>

  <%= link_to 'My Uploads', uploads_path %>
  <%= link_to 'My Downloads', new_user_path %>
  <%= link_to 'Profile', myprofile_path %>
  <%= link_to 'Upload now', new_upload_path %>







