<div class="container text-center">
<div class="backgrnd">
  <h2 id="account">here is your account summary:</h2>
    <p id="notice"><%= notice %></p>
    <button type="button" class="btn new-btn"><%= link_to 'My Uploads', uploads_path %></button>
    <button type="button" class="btn new-btn"><%= link_to 'My Downloads', uploads_path %></button>
    <button type="button" class="btn new-btn"><%= link_to 'Profile', edit_path %></button>
    <button type="button" class="btn new-btn"><%= link_to 'Upload now', new_upload_path %></button>
  </div>
</div>







