<p id="notice"><%= notice %></p>
<h1 class="text-center">All Uploads</h1>
<div class="container">
  <div class="row text-center">
    <ul class="categories">
      <li><%= link_to "ALL", all_path(cat: 'all'), class: "action-button shadow animate blue" %></li>
        <% @categories.each do |c| %>
      <li><%= link_to c.category_name, all_path(cat: c.id), class: "action-button shadow animate blue" %></li>
    <% end %>
    </ul>
  </div>
</div>

<ul class="text-center">
  <div class="container">
    <% @uploads.each_slice(3) do |row| %>
      <div class="row">
        <% row.each do |pic| %>
          <div class="col-md-4">
            <div class="form-control">
              <%= pic.description %>
            </div>
            <div>
              <%= image_tag pic.image.url(:small), :class => "img-responsive img-thumbnail" %>
            </div>
            <div>
              <%= link_to 'View Image', upload_path(pic) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</ul>



