<li>Description<p>

<%= @upload.description %></p></li>
<%= image_tag @upload.image.url(:medium) %>
<td><%= @upload.categories.map(&:category_name).sort.join(", ") %></td>

<p id="notice"><%= notice %></p>
<% if current_user && @upload.user == current_user %>
  <%= link_to 'Delete', @upload, method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
  <%= link_to 'Edit your pic', edit_upload_path %>
<% end %>
